.choice-main__settings {
  user-select: none;
  animation: animation-block-task 1s ease-in-out;

  .settings__action {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
      color: #3e3e3e;
      margin-bottom: 10px;
    }

    div:not(:last-child) {
      margin-bottom: 20px;
    }

    button {
      background: linear-gradient(99.96deg, #719dff 19.29%, #6085d8 88.6%);
      transition: transform 0.2s ease-in-out;
      border-radius: 20px;
      padding: 5px 40px;
      cursor: pointer;
      border: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 48px;
      color: #ffffff;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
      }
    }

    .action__choose__mark {
      .action__mark {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 61px;
      }
    }

    .action__choose__difficult {
      .action__difficult {
        display: flex;
        justify-content: space-between;
        &__block {
          font-style: normal;
          font-weight: bold;
          font-size: 35px;
          line-height: 48px;
          color: #ffffff;
        }
      }
    }

    .action__choose__count {
      .action__count {
        display: flex;
        justify-content: space-between;
        &__block {
          font-style: normal;
          font-weight: bold;
          font-size: 35px;
          line-height: 48px;
          border-radius: 10px;
          color: #ffffff;

          &:last-child {
            font-style: normal;
            font-weight: bold;
            line-height: 15px;
            text-align: center;
            ::placeholder {
              text-align: center;
              color: rgba(215, 215, 215, 0.85);
              word-wrap: break-word;
            }
            input {
              text-align: center;
              font-size: 35px;
              background: linear-gradient(
                100.79deg,
                #86acff 14.58%,
                #729efe 80.83%
              );
              border-radius: 10px;
              outline: none;
              border: none;
              width: 65px;
              height: 65px;

              color: rgba(255, 255, 255, 0.85);
            }
          }
        }
      }
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: center;
    background: #86acff;
    color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px rgba(95, 94, 94, 0.5);
      background-color: #407bff;
      transition: background-color 0.4s ease-in-out;
    }
  }

  .block-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: #86acff;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px rgba(95, 94, 94, 0.5);
      background-color: #407bff;
      transition: background-color 0.4s ease-in-out;
    }
  }

  .active {
    box-shadow: 0 0 20px rgba(95, 94, 94, 0.5);
    background-color: #407bff;
  }
}

@keyframes animation-block-task {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-height: 620px) {
  .choice-main__settings {
    .settings__action {
      div:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
