.solve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  animation: animation-block-solve 1s ease-in-out;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 70px;
    height: 450px;

    .correct {
      color: #51e72c;
      transition: color 0.25s ease-in-out;

      input {
        color: #51e72c;
        transition: color 0.25s ease-in-out;
        &::placeholder {
          color: #51e72c;
          transition: color 0.25s ease-in-out;
        }
      }
    }

    .wrong {
      color: #ff4e4e;
      transition: color 0.25s ease-in-out;

      input {
        color: #ff4e4e;
        transition: color 0.25s ease-in-out;
        &::placeholder {
          color: #ff4e4e;
          transition: color 0.25s ease-in-out;
        }
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      padding: 10px 70px 0 70px;
      align-items: center;
      animation: animation-block-solve-top 1s ease-in-out;

      .color {
        color: #7090da;
      }

      div {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.1em;
        color: #8c8b8b;
        margin-right: 20px;
      }
    }

    &-task {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 48px;
      height: 100%;
      color: #777777;
      transition: color 0.25s ease-in-out;
      animation: animation-block-solve-content 1s ease-in-out;

      input {
        width: 60px;
        font-size: 35px;
        color: #777777;
        background: none;
        border: none;
        outline: none;
        transition: color 0.25s ease-in-out;
      }
    }
  }
}

@keyframes animation-block-solve {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-block-solve-top {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-block-solve-content {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-block-solve-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 820px) {
  .solve {
    &__content {
      height: 400px;
      &-top {
        padding: 10px 40px 0 40px;
        div {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .solve {
    &__content {
      height: 400px;
      &-top {
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 40px 0 40px;
        div {
          font-size: 20px;
        }
      }
    }
  }
}
