.solve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 70px;
    height: 450px;

    .correct {
      color: #51e72c;
      transition: color 0.25s ease-in-out;

      input {
        color: #51e72c;
        transition: color 0.25s ease-in-out;
        &::placeholder {
          color: #51e72c;
          transition: color 0.25s ease-in-out;
        }
      }
    }

    .wrong {
      color: #ff4e4e;
      transition: color 0.25s ease-in-out;

      input {
        color: #ff4e4e;
        transition: color 0.25s ease-in-out;
        &::placeholder {
          color: #ff4e4e;
          transition: color 0.25s ease-in-out;
        }
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      padding: 10px 70px 0 70px;
      align-items: center;

      .color {
        color: #7090da;
      }

      div {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.1em;
        color: #8c8b8b;
        margin-right: 20px;
      }
    }

    &-task {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 48px;
      height: 100%;
      color: #777777;
      transition: color 0.25s ease-in-out;

      input {
        width: 60px;
        font-size: 35px;
        color: #777777;
        background: none;
        border: none;
        outline: none;
        transition: color 0.25s ease-in-out;
      }
    }
  }
}
